body {
  background-image: url(imagens/Textura.png);
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw;
}
.navbar {
  overflow: hidden;
  background-color: blueviolet;
  width: 50%;
  box-shadow: 4px 5px black;;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background: white;
  color: rgb(31, 54, 54);;
}
.folhaderosto {
  padding: 10px 0px 25px 10px;
  background-color: blueviolet;
  margin-bottom: 50px;
  transform: skewY(2deg);
}
.folhaderosto h1 {
  color: white;
  text-decoration: overline;
  transform: skewY(-2deg);
}
.folhaderosto p {
  color: white;
  transform: skewY(-2deg);
}
.sobre {
  margin-top: 100px;
  width: 100%;
}
.cartaozinho {
  float: left;
  width: 300px;
  height: 400px;
  background-color: blueviolet;
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
}
.cartaozinho img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 4px 5px black;
}
.texto {
  padding: 5px;
  text-align: justify;
  color: white;
}